$color-chat-text-primary: #333;
$color-chat-text-secondary: #878787;
$color-chat-text-dates: #b7b7b7;
$color-chat-text-headers: #262626;

$color-bills-text-primary: #333;
$color-bills-text-secondary: #999;

$color-transactions-positive: #6ece1a;
$color-transactions-negative: #de1c28;

$color-accent: #52aff1;
$color-in-accent: #fff;
$color-chat-bg: #f4f4f4;